.m-itemlist-col2{padding-top:10px;}
.m-itemlist-col2 >dd{display:inline-block;width:50%;padding-bottom:10px;vertical-align:top;padding-left:10px;padding-right:5px;float:left;background:#f0f0f0;}
.m-itemlist-col2 >dd:nth-child(2n){padding-left:5px;padding-right:10px;}
.m-itemcol2{position:relative;font-size:12px;line-height:16px;background-color:#fff;overflow:hidden;}
.m-itemcol2 .imgwrap{display:block;position:relative;padding-top:100%;border-bottom:1px solid #f0f0f0;}
.m-itemcol2 .imgwrap img{width:100%;height:100%;position:absolute;top:0;left:0;background:url("/res/images/124x124.png") no-repeat center center #fff;background-size:62px 62px;}
.m-itemcol2 .txtwrap{padding:5px 8px 8px;font-size:13px;position:relative;}
.m-itemcol2 .txtwrap .pmo-lbl{margin-left:2px;color:#dd1e47;border:1px solid;padding:0 2px;border-radius:2px;background-color:#fff;font-size:11px;vertical-align:middle;display:inline-block;}
.m-itemcol2 .txtwrap .pmo-lbl .bold{font-weight:bold;}
.m-itemcol2 .txtwrap .pmo-lbl-1{margin-left:4px;}
.m-itemcol2 .txtwrap .member-lbl{margin-left:6px;vertical-align:middle;display:inline-block;color:#dd1e47;border:1px solid;padding:0 2px;border-radius:2px;background-color:#fff;font-size:11px;vertical-align:1px;}
.m-itemcol2 .txtwrap .member-lbl .bold{font-weight:bold;}
.m-itemcol2 .txtwrap .member-lbl-1{margin-left:4px;}
.m-itemcol2 .tit{margin-bottom:3px;height:32px;overflow:hidden;font-size:14px;line-height:16px;word-break:break-all;}
.m-itemcol2 .tit .mem-lbl{color:#d22147;}
.m-itemcol2 .tit .mem-lbl .sep{margin:0 4px;position:relative;top:-2px;}
.m-itemcol2 .mkt-price{font-size:1.2rem;color:#999;}
.m-itemcol2 .mkt-price del{text-decoration:line-through;}
.m-itemcol2 .act-price{color:#d22147;font-size:1.2rem;white-space:nowrap;height:20px;overflow:hidden;}
.m-itemcol2 .act-price .bold{font-weight:bold;}
@media (min-width: 350px){.m-itemcol2 .act-price{font-size:1.3rem;}
}
.m-itemcol2 .appprice{position:absolute;top:0;left:0;width:2.8rem;height:2.8rem;padding-top:0.3rem;border:1px solid;color:#942e99;font-size:1rem;line-height:1.1rem;text-align:center;}
.m-itemcol2 .logo-soldout{position:absolute;left:50%;top:50%;width:30%;height:30%;margin-left:-15%;margin-top:-15%;background:rgba(0,0,0,0.7);border-radius:100000px;color:#fff;font-size:15px;line-height:16px;}
.m-itemcol2 .logo-soldout .txt{position:absolute;line-height:20px;width:100%;top:50%;margin-top:-10px;text-align:center;vertical-align:middle;}
.m-itemcol2 .action-go{display:block;height:30px;line-height:30px;background-color:#d22147;color:#fff;text-align:center;font-size:1.4rem;}
.m-itemcol2 .action-go.soldout{background-color:#ddd;color:#fff;}
.m-itemcol2 .action-to{display:block;height:30px;margin:2px 8px 8px 8px;line-height:28px;border:1px solid #e31436;text-align:center;font-size:1.4rem;-webkit-border-radius:2px;border-radius:2px;color:#e31436;}
.m-itemcol2 .action-to.soldout{border-color:#ddd;color:#ddd;}
